<div id="annotation-set-modal-create-new"
     class="annotation-set-modal-option-content">
  <button id="annotation-set-modal-back">Back</button>
  <h2>Create new annotations</h2>
  <div id="annotation-set-create-new-content"
       class="annotation-set-modal-option-form column-flex">
    <div class="column-flex">
      <label for="create-annotation-set-name">Annotation set name:</label>
      <input type="text" id="create-annotation-set-name">
    </div>
    <button id="annotation-set-create-button"
            class="blue-button annotation-set-option-submit-button">Create</button>
  </div>
</div>
