<div id="import-create-annotation-set"
     class="annotation-set-modal-option-content">
    <button id="annotation-set-modal-back">Back</button>
    <h2>Import Annotations</h2>
    <div id="annotation-set-import-option-content"
         class="annotation-set-modal-option-form column-flex">
        <div class="row-flex">
            <label for="new-annotation-set-name">Name:</label>
            <input type="text" id="new-annotation-set-name">
        </div>
        <input id="annotation-set-import-file-input"
               type="file"
               accept=".json"
               name="annotations_json"
               aria-label="annotation set json file import">
        <button id="create-annotation-set-from-import-button"
                class="blue-button annotation-set-option-submit-button">Create from import</button>
    </div>
</div>
