<div id="annotation-set-use-existing-option"
     class="annotation-set-modal-option-content">
  <button id="annotation-set-modal-back">Back</button>
  <h2>Use an existing set of annotations</h2>
  <div id="annotation-set-use-existing-content"
       class="annotation-set-modal-option-form column-flex">
    {% include 'core/partials/annotation_set_selector.html' with selector_id="use-existing-annotation-set-selector" %}
    <button id="annotation-set-use-existing-button"
            class="blue-button annotation-set-option-submit-button">Confirm</button>
  </div>
</div>
