<div id="annotation-set-use-existing-option" class="annotation-set-modal-option-content">
    <button id="annotation-set-modal-back">
        Back
    </button>
    <h2>
        Create new annotations
    </h2>
    <div id="annotation-set-use-existing-content" class="annotation-set-modal-option-form column-flex">
        {% include 'partials/annotation_set_selector.html' %}
        <button id="annotation-set-use-existing-button" class="blue-button annotation-set-option-submit-button">
            Confirm
        </button>
    </div>
</div>
