{# This custom base site template for the Django admin allows for additional branding (favicon), theming, and customization of the admin interface. #}
{% extends "admin/base.html" %}

{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_("Django site admin") }}{% endblock %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/spoof_widgets.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin_spoof.css' %}">
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link rel="shortcut icon"
        type="image/png"
        href="{% static 'img/favicon-admin.ico' %}">
  <script src="{% static 'js/vendor/htmx.js' %}"></script>
  <script src="{% static 'js/spoof.js' %}"></script>
{% endblock %}
{% block branding %}
  <div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_("Django administration") }}</a></div>
  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
{% endblock %}
{% block nav-global %}
  {% if request.is_spoofing or request.can_spoof %}
    <div id="admin-spoof-bar">
      {% include "core/partials/spoof_warning.html" %}
      {% include "core/partials/spoof_form.html" %}
    </div>
  {% endif %}
{% endblock %}
