{% extends "core/base.html" %}

{% block title %}About Y-Video{% endblock %}
{% block content %}
    <div id="about-page">
        <section id="about-page-title">
            <h1>Y-VIDEO</h1>
        </section>
        <section id="about-page-content-wrapper">
            <div id="about-page-content">
                <div class="about-page-row">
                    <h2>What is Y-Video?</h2>
                    <p>Y-Video is a web app for streaming video and audio content for courses you are enrolled in at BYU. Instructors upload and edit content for their classes and post it here.</p>
                </div>
                <div class="about-page-row">
                    <h2>A Place For Teachers to Share</h2>
                    <p>Teachers and course designers can gather media into a single location and use a variety of tools to optimize the learning experience. We aim to be compliant with the Library of Congress' interpretations of Fair Use, so instructors can share media with their students with confidence.</p>
                </div>
                <div class="about-page-row">
                    <h2>Greater Control Over Classroom Media</h2>
                    <p>A built-in video editor lets instructors curate content specifically for their classroom's needs, trimming to clips and adding annotations without ever altering the original media.</p>
                </div>
                <div class="about-page-row">
                    <h2>An Opportunity for Accessibility</h2>
                    <p>When set up by the instructor, additional aids are available, such as captions and annotations. A key feature of the site enables learners to interact directly with subtitle tracks to quickly skip to specific phrases. For some languages, automatic translations are also available.</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
