{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}YVideo{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
        <header>
            {% block headerContent %}
                {% include "partials/header.html" %}
            {% endblock %}
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>
