{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}YVideo{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile_styles.css' %}">
        <script src="{% static 'js/vendor/htmx.js' %}"></script>
        <script src="../../static/js/general.js"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    </head>
    <body>
        <header id="spoof-header">
            {% if request.is_spoofing %}
            <div id="spoofing-warning"style="background: #ffc; color: #a00; padding: 1em; text-align: center; border-bottom: 2px solid #a00;">
                Currently spoofing
                <b>{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.netid }})</b>
                as admin/superuser
                <b>{{ request.original_user.first_name }} {{ request.original_user.last_name }} ({{ request.original_user.netid }})</b>.
                <a href="{% url 'stop_spoofing' %}" style="color: #a00; text-decoration: underline; margin-left: 1em;">[Stop spoofing]</a>
            </div>
            {% endif %}

            {% block headerContent %}
                {% include "partials/header.html" %}
            {% endblock %}
        </header>
        <div id="site-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
