<div class="collections-list">
    {% for collection in collections %}
        {% if collection.published and not collection.archived %}
        <div class="collection">
            <div class="collection-item ">
                <h3>{{ collection.name }}</h3>
                <p>{{ collection.videos.count }} item{{ collection.videos.count|pluralize }}</p>
                <img class="arrow" src="/static/img/arrow.svg" id="arrow">
         </div>
            <div class="video-list">
                {% for video in collection.videos.all %}
                    {% if not video.clips.all %}
                        <div class="video-item">
                            <a href="{% url 'player' video.uuid %}">
                                <img src="/static/img/.svg" alt="Thumbnail for {{ video.title }}">
                                <div class="video-name">
                                    <h4>{{ video.title }}</h4>
                                    {# Icons for features can be added here #}
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="video-item-dropdown">
                            <div class="video-header">
                                <img src="{{ video.thumbnail_url|default:'/static/media/default-thumb.svg' }}" alt="Thumbnail for {{ video.title }}">
                                <div class="video-name">
                                    <h4>{{ video.title }}</h4>
                                </div>
                                <span class="carrot"></span>
                            </div>
                            <div class="clips-list">
                                <div class="clip-link">
                                    <a href="{% url 'player' video.uuid %}">
                                        <div class="clip-name"><h4><u>Full Video</u></h4></div>
                                    </a>
                                </div>
                                {% for clip in video.clips.all %}
                                <div class="clip-link">
                                    <a href="{% url 'player' video.uuid clip.id %}">
                                        <div class="clip-name"><u>Clip - {{ clip.title }}</u></div>
                                        <div><h4>From {{ clip.start_time }} to {{ clip.end_time }}</h4></div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
