{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        {% if user.privilege_level == 2 or user.privilege_level == 0 %}
        <div class="landing-page-collection-list column-flex">
            <header class="collections-header row-flex flex-apart-aligned">
                <h2>My Collections</h2>
                <div class="search-wrapper">
                    <input
                        type="text"
                        class="collections-search"
                        placeholder="Search"
                        aria-label="Search collections"
                    >
                    <img src="/static/img/search-icon.svg" class="search-icon" alt="search">
                </div>
            </header>
            <dialog id="add-new-collection-dialog" class="user-view-modal">
                <button class="close-dialog-button" command="close" commandfor="add-new-collection-dialog">
                    Close
                </button>
                <div class="user-view-modal-header">
                    <h3>Create New Collection</h3>
                </div>
                <form id="new-collection-form" class="user-view-modal-body column-flex">
                    <div class="form-input-group">
                        <label for="new-collection-name-input">Collection name</label>
                        <input id="new-collection-name-input" type="text" name="name">
                    </div>
                    <button id="create-new-collection-submit" class="blue-button" type="submit">
                        Submit
                    </button>
                </form>
            </dialog>
            <button id="add-new-collection-button" class="blue-button" command="show-modal" commandfor="add-new-collection-dialog">
                + Add New Collection
            </button>
            <div class="collections-list-content">
                {% for collection in owned_collections %}
                    {% include "partials/landing_page_collection.html" %}
                {% empty %}
                    <p>No Collections</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="landing-page-collection-list">
            <header class="collections-header row-flex flex-apart-aligned">
                <h2>Collections assigned to me</h2>
            </header>
            <div class="yearterm-courses-list">
                {% for yearterm in assigned_courses_by_yearterm %}
                    <h3 class="yearterm-courses-header">{{ yearterm.yearterm_display }}</h3>
                    <div class="yearterm-course-collections-list">
                        {% for course in yearterm.collections_by_course %}
                            <div class="course-header row-flex clickable" onclick="handleAccordian(this)">
                                <p>{{ course.course_name }}</p>
                                <img src="/static/img/arrow.svg" class="arrow">
                            </div>
                            <div class="collections-list-content course-collections-list accordian-folded">
                                {% for collection in course.collections %}
                                    {% include "partials/landing_page_collection.html" %}
                                {% empty %}
                                    <p>No collections for {{course.course_name}}</p>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <p>None of the courses you're enrolled in for {{ yearterm.yearterm_display }} have assigned collections.</p>
                        {% endfor %}
                    </div>
                {% empty %}
                    <p>No semesters with courses assigned</p>
                {% endfor %}
            </div>
        </div>
    </main>
<script type="module" src="{% static 'js/collections.js' %}"></script>
{% endblock %}
