{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'AnnotationPlayer.css' %}">
{% endblock %}

{% block content %}
<div class="main-content column-flex">
    <div id="content-details-header">
        <h2>Content Details</h2>
        <h3>{{content.collection.name}}: {{ content.title }}</h3>
    </div>
    {% if user.is_admin or user == content.collection.owner %}
    <a class="white-button-with-border position-flex-start" href="/video-editor/{{ content.id }}/">
        Edit Video
    </a>
    <div id="content-settings">
        <div class="row-flex flex-apart-aligned">
            <h3>Settings</h3>
            <dialog id="content-remove-modal" class="user-view-modal">
                <h3 class="user-view-modal-header">
                    Remove this video from the collection?
                </h3>
                <div class="user-view-modal-body row-flex flex-apart-aligned">
                    <button id="content-confirm-remove" class="blue-button">
                        Yes
                    </button>
                    <button class="cancel-button" command="close" commandfor="content-remove-modal">
                        No
                    </button>
                </div>
            </dialog>
            <button  type="button" id="content-details-delete-button" class="red-button" command="show-modal" commandfor="content-remove-modal">
                Remove from collection
            </button>
        </div>
        {% include 'partials/content_settings_form.html' %}
    </div>
    {% endif %}
    <div id="content-details-video-player">
        {% include 'partials/player-wrapper.html' %}
    </div>
</div>
<script type="module" src="{% static 'js/contentInfo.js' %}"></script>
{% endblock %}
