{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <div id="resources-list">
        <h2>Create new video from Resource</h2>
        <dialog id="create-from-resource-modal" class="user-view-modal">
            <div class="user-view-modal-header">
                <h3>New Video Details</h3>
            </div>
            <div class="user-view-modal-body">
                <form id="create-from-resource-form"></form>
            </div>
        </dialog>
        <div id="resource-detail-list">
            {% for resource in resources %}
                {% include 'core/partials/resource_details.html' %}
            {% empty %}
                <h2>No resources to create new content from were found.</h2>
            {% endfor %}
        </div>
    </div>
</div>
<script type="module" src="{% static 'js/create_from_resource.js' %}"></script>
{% endblock %}
