{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YVideo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>

    <main class="main-content">
        <header class="collections-header">
            <span>Collections</span>
            <span><a href="{% url 'manage_collections' %}"> Manage Collections</a></span>
        </header>

          {% include "collection_list.html" %}

        <header class="collections-header">
            <h3>Public Collections</h3>
            <form class="resource-search-submit" id="searchSubmit">
                <input id="resource-search-input" type="search" placeholder="Search public collections" value="">
            </form>
            <h3><a href="#">Manage Public Collections</a></h3>
        </header>

        <div class="public-collections-list">
            {% for collection in public_collections %}
                {# Render public collections similarly to user collections #}
            {% empty %}
                <div class="message-public-collection">
                    <p>There are no public collections</p>
                </div>
            {% endfor %}
        </div>
    </main>

</body>
</html>
