{% extends "base.html" %}

{% block content %}
    <div id="index-page">
        <section id="index-page-title">
            <h1>Y-VIDEO</h1>
            <a href="{% url 'oidc_authentication_init' %}" class="white-button-with-border">
                Sign in
            </a>
        </section>
        <section id="index-page-content-wrapper">
            <div id="index-page-content">
                <div class="index-page-row">
                    <div class="index-page-text-group">
                        <h2>What is Y-Video?</h2>
                        <p>Y-video is a web-app for streaming video and audio content for courses you are enrolled in at BYU. Professors upload and edit content for their classes and post it here.</p>
                    </div>
                    <div></div>
                </div>
                <div class="index-page-row">
                    <div class="index-page-image">
                        <img src="/static/img/index-1.jpg" alt="">
                    </div>
                    <div class="index-page-text-group">
                        <h2>A Place For Teachers to Share</h2>
                        <p>Teachers or course designers are able to aggregate media into a single location and use a variety of tools to optimize the learning experience. We aim to be compliant with the Library of Congress' interpretations of Fair Use, so instructors can share media with their students with confidence.</p>
                    </div>
                </div>
                <div class="index-page-row">
                    <div class="index-page-text-group">
                        <h2>Greater Control Over Classroom Media</h2>
                        <p>Built in video editor for teachers allows them to curate content specifically for their classroom’s needs. Built in video editor for teachers allows them to curate content specifically for their classroom’s needs.</p>
                    </div>
                    <div class="index-page-image">
                        <img src="/static/img/index-2.jpg" alt="">
                    </div>
                </div>
                <div class="index-page-row">
                    <div class="index-page-image">
                        <img src="/static/img/index-3.jpg" alt="">
                    </div>
                    <div class="index-page-text-group">
                        <h2>An Opportunity for Accessibility</h2>
                        <p>When set up by the instructor, additional aids are available, such as captions and annotations. A key feature of the site enables learners to directly interact with subtitle tracks to quickly skip to specific phrases. For some languages, automatic translations are also available.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
