{% extends "base.html" %}

{% block title %}Manage Collections {% endblock %}

{% block content %}
    <div class="collections-page">
        <div class="collections-container" id="collections-container">
            <button id="collection-create" class="collection-button" onclick="collection_modal.showModal();">
                <img class="icon" src="/static/img/plus.svg" id="icon"> Collection
            </button>
            {% include "partials/add_collection_modal.html" %}

            <h4 id="collection-username">
                {{ user.netid }}
            </h4>
            <div id="sorted-collections" class="collection-section">
                {% include "partials/sorted_collections.html" %}
            </div>
        </div>
        <div class="collections-detail" id="collections-detail">
            <div id="no-collections-body" class="no-collections">Select a Collection to get started.</div>
        </div>
        <div class="created-collections">

        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", () => { # TODO: fix bug where form does not get reset after a success right after a fail
        document.body.addEventListener("fail", () => {
            document.getElementById("collection_modal").showModal();
        });
    });
</script>
{% endblock %}
