{% extends "base.html" %}

{% block title %}Manage Collections {% endblock %}

{% block content %}
    <div class="collections-page">
        <div id="collections-container">
            <button id="collection-create" class="collection-button position-flex-start" onclick="collection_modal.showModal(); document.getElementById('collection-form').reset();">
                <img class="icon" src="/static/img/plus.svg" id="icon"> Collection
            </button>
            {% include "partials/add_collection_modal.html" %}

            <h4 id="collection-username">
                {{ user.netid }}
            </h4>
            <div id="sorted-collections">
                {% include "partials/collection_list_display.html" with collections_type="Published" collections=published %}
                {% include "partials/collection_list_display.html" with collections_type="Unpublished" collections=unpublished %}
                {% include "partials/collection_list_display.html" with collections_type="Archived" collections=archived %}
            </div>
        </div>
        <div id="collections-detail">
            <p id="no-collections-body">
                Select a Collection to get started.
            </p>
        </div>
    </div>
{% endblock %}
