{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}YVideo{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile_styles.css' %}">

        {% block extra_css %}{% endblock %}

        <script src="{% static 'js/vendor/htmx.js' %}"></script>
        <script src="{% static 'js/general.js' %}"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" >
    </head>
    <body>
        <header class="site-header">
            {% block headerContent %}
                {% include "core/partials/header.html" %}
            {% endblock %}
        </header>
        <main id="site-content">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
