{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="playlist-video-page column-flex">
        <header class="video-title">
            <h2>Playlist Details</h2>
            <h3>{{ playlist.name }}</h3>
        </header>
        {% if user == playlist.owner or user.is_admin %}
            {% include 'core/partials/playlist_settings.html' %}
        {% endif %}
        <div id="playlist-videos-content">
            <div id="playlist-videos-header" class="column-flex">
                <div class="search-wrapper">
                    <input
                        type="text"
                        id="video-search"
                        class="list-search-input"
                        placeholder="Search"
                        aria-label="Search videos"
                    >
                    <img src="{% static 'img/search-icon.svg' %}" class="search-icon" alt="search">
                </div>
                {% if user == playlist.owner or user.is_admin %}
                <dialog id="add-video-dialog" class="user-view-modal">
                    <div class="user-view-modal-header">
                        <h3>Add a New Video</h3>
                    </div>

                    <div class="user-view-modal-body row-flex flex-apart-aligned">
                        <a href="/create-from-resource/{{ playlist.id }}" class="blue-button">
                            Create from existing resource
                        </a>
                        <a href="/content-intake-request/" class="blue-button">
                            Request creation of a new resource
                        </a>
                    </div>
                </dialog>
                <button
                    class="blue-button"
                    commandfor="add-video-dialog"
                    command="show-modal">
                    + Add New Video
                </button>
                {% endif %}
            </div>
            <div id="playlist-video-list">
                {% for content in contents %}
                    {% if content.published == True or content.published == False and playlist.owner == user or user.is_admin %}
                    <div class="playlist-video tile">
                        {% if user.is_admin or playlist.owner == user %}
                        <a href="{% url 'display_content_info' content.id %}" class="playlist-video-tile">
                        {% else %}
                        <a href="{% url 'player' content.id %}" class="playlist-video-tile">
                        {% endif %}
                            <div class="tile-image">
                                <img src="{% static 'img/video.svg' %}" class="tile-image" alt="video-playlist-icon">
                            </div>
                            <div class="tile-body">
                                <h4 class="video-title">{{ content.title  }}</h4>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% empty %}
                    <p>There are no videos assigned to this playlist</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="module" src="{% static 'js/playlistInfo.js' %}"></script>
{% endblock %}
