{% load static %}
{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" href="{% static 'AnnotationPlayer.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <script>
        window.playerData = {
            events: {{ events|safe }},
            subtitles: {{ subtitles|safe }},
            clips: {{ clips|safe }},
            hasSubtitles: {{ has_subtitles|yesno:"true,false" }}
        };
    </script>

    {% include 'partials/player-wrapper.html' %}

</body>
</html>
