{% extends 'core/base.html' %}

{% load static %}

{% block title %}
    YVideo - Player
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/AnnotationPlayer.css' %}">
{% endblock %}
{% block content %}
    <div class="player-page">
        {% include 'core/partials/player-wrapper.html' with content_id=content.pk resource_file_key_id=resource_file_key_id content_source_url=content_source_url youtube_video_id=youtube_video_id %}
        <div class="video-title">
            <h2>{{ content.title }}</h2>
        </div>
    </div>
{% endblock %}
