{% extends 'base.html' %}
{% load static %}

{% block title %}
    YVideo - Subtitle Editor
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'AnnotationPlayer.css' %}">
    <link rel="stylesheet" href="{% static 'css/subtitle-editor.css' %}">
{% endblock %}

{% block content %}
    <div id="subtitle-editor-container" class="row-flex">
        {% include 'partials/player-wrapper.html' with file_key=file_key.id %}
        <div id="subtitle-editor">
            <select id="subtitle-track-selector">
                <option value="">Choose a Subtitle Track</option>
                {% for track in subtitle_tracks %}
                    <option value="{{track.info}}" data-name="{{track.name}}">
                        {{ track.name }}
                    </option>
                {% endfor %}
            </select>
            <div id="subtitle-cues">

            </div>
            <div id="subtitle-cue-editor">

            </div>
        </div>
    </div>

    <script src="{% static 'js/SubtitleEditor.js' %}"></script>
{% endblock %}
