{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block title %}
    YVideo - Subtitle Editor
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'AnnotationPlayer.css' %}">
    <link rel="stylesheet" href="{% static 'css/subtitle-editor.css' %}">
{% endblock %}

{% block content %}
    <div id="subtitle-editor-container" class="row-flex">
        {% include 'partials/player-wrapper.html' with file_key=file_key.id events=events subtitles=subtitles clips=clips has_subtitles=has_subtitles %}
        <div id="subtitle-editor" class="column-flex">
            <select id="subtitle-track-selector">
                <option value="">Choose a Subtitle Track</option>
                {% for track in subtitle_tracks %}
                    <option value="{{track.id}}" data-name="{{track.name}}">
                        {{ track.name }}
                    </option>
                {% endfor %}
            </select>
            <div id="editable-cues"></div>
            <div id="subtitle-cue-editor">
                <button id="subtitle-save-changes" class="small-button">Make Changes Permanent</button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/SubtitleEditor.js' %}"></script>
{% endblock %}
