{% load static %}
{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>Video Editor - {{ content.title }}</title>
        <link rel="stylesheet" href="{% static 'AnnotationPlayer.css' %}">
        <link rel="stylesheet" href="{% static 'css/editor.css' %}">
    </head>
    <body>
        <div id="editor-container">
            <!-- Top Panel: Video Player (left) and Detail Form (right) -->
            <div class="top-panel">
                {% include 'partials/annotation_panel.html' %}
                {% include 'partials/subtitle_editor_panel.html' %}

                <div id="video-section" class="video-section">
                    {% include 'partials/player-wrapper.html' with content_id=content.pk resource_file_key_id=file_key %}
                </div>

                <div class="detail-form-section editor-container-component-dark">
                    <!-- Annotation Detail Form -->
                    <div id="detail-form"
                        class="detail-form">
                        {% include 'partials/item_form_placeholder.html' %}
                    </div>
                </div>
            </div>

            <!-- Bottom Panel: Timeline -->
            {% include 'partials/timeline_base.html' %}
        </div>

        <script type="module" src="{% static 'js/editor.js' %}"></script>
    </body>
</html>
