<div id="annotation-panel-header">
    Annotations
</div>
<div id="annotation-groups-wrapper">
    {% for group in annotation_groups %}
    <div class="annotation-type-wrapper">
        <div class="annotation-type-header row-flex flex-apart-aligned">
            <div class="annotation-type-header-left row-flex">
                <img class="annotation-type-header-arrow" src="/static/img/arrow.svg" alt="" />
                <div class="annotation-type-header-text">
                    {{ group.type_display }}
                </div>
            </div>
            <div id="{{group.type}}-type-header-right" class="annotation-type-header-right">
                <img class="annotation-icon" src="{{ group.icon }}" alt="{{group.type}} icon">
            </div>
        </div>
        <div class="annotation-type-list column-flex">
            <button class="annotation-type-add-button">
                + Add New
            </button>
            <div class="annotation-list-items column-flex">
                {% for instance in group.instances %}
                <div class="annotation-list-item-wrapper {{group.type}}-list-item-wrapper row-flex flex-apart-aligned" data-annotation-type="{{group.type}}" data-annotation-id="{{instance.id}}">
                    <div>
                        {{ instance.name }}
                    </div>
                    <img class="annotation-instance-delete-icon" src="/static/img/trash.svg" alt="delete">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
