{% load static %}

<div id="annotation-set-settings-compact" class="column-flex" data-annotation-set-id="{{annotation_set.id}}" data-annotation-set-name="{{annotation_set.name}}">
    <h2>Annotation Set Settings</h2>
    <button class="red-button close-dialog-button" command="close" commandfor="annotation-set-settings">X</button>
    <div id="annotation-set-select-form" class="column-flex-no-gap">
        <label for="annotation-set-selector">Selected annotation set:</label>
        <select id="annotation-set-selector" class="position-flex-start" name="annotation_set_id" {% if not can_edit %}disabled{% endif %}>
            <option class="annotation-set-option" value="">-- Select Annotation Set --</option>
            {% for set in available_annotation_sets %}
                <option class="annotation-set-option" value="{{ set.id }}"
                        {% if annotation_set and set.id == annotation_set.id %}selected{% endif %}>
                    <span class="set-option-name">{{ set.name }}</span> <span class="set-option-owner">({{ set.owner.get_full_name }})</span>
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="column-flex">
        <h4>Update Annotation Set</h4>
        <div>
            <label for="annotation-set-name">Name:</label>
            <input type="text" id="annotation-set-name" value="{{ annotation_set.name }}" required>
        </div>
        <div>
            <button id="annotation-name-submit-button" type="submit" class="blue-button">Save</button>
            <button type="button" class="cancel-button" command="close" commandfor="annotation-set-settings">Cancel</button>
        </div>
    </div>

    <div>
        <h4>Editors</h4>
        {% include 'partials/annotation_set_selected_editors.html' %}
    </div>

    <div id="editor-search-wrapper" class="column-flex">
        <label for="editor-search-input">
            Search for editor:
        </label>
        <input id="editor-search-input" aria-label="Search for editor" type="text" placeholder="Search for an editor to add">
        {% include 'partials/editor_search_results.html' %}
    </div>
</div>
