<div id="censor-positions-wrapper">
    <h4>Positions</h4>
    <div id="positions-list">
    {% for position in item_positions %}
        <h5>Position {{forloop.counter}}</h5>
        <div class="position-entry" data-position-id="{{position.pk}}">
            <div class="position-input-group">
                <label for="position-time">Time (s):</label>
                <input class="position-time-input" name="position-time" type="text" value="{{position.time}}">
            </div>
            <div class="position-input-group">
                <label for="position-x">X:</label>
                <input class="position-x-input" name="position-x" type="text" value="{{position.x}}">
            </div>
            <div class="position-input-group">
                <label for="position-y">Y:</label>
                <input class="position-y-input" name="position-y" type="text" value="{{position.y}}">
            </div>
            <div class="position-input-group">
                <label for="position-width">Width:</label>
                <input class="position-width-input" name="position-width" type="text" value="{{position.width}}">
            </div>
            <div class="position-input-group">
                <label for="position-height">Height:</label>
                <input class="position-height-input" name="position-height" type="text" value="{{position.height}}">
            </div>
            <button class="censor-position-delete-button red-button">Delete</button>
        </div>
    {% endfor %}
    </div>
</div>
