<div class="collection_settings">
    <form class="collection-settings-form"
        hx-trigger="submit"
        hx-post="{% url 'update_collection_settings' %}"
        hx-target="#sorted-collections"
        hx-swap="outerHTML"
    >
        {% csrf_token %}

        {{ form.non_field_errors }}
        {{ form.id }}
        <div class="collection-form-group">
            {{ form.name.as_field_group }}
        </div>
        <div class="collection-form-group">
            {{ form.published.as_field_group }}
        </div>
        <div class="collection-form-group">
            {{ form.archived.as_field_group }}
        </div>
        <button class="small-button position-flex-start">Submit</button>
        <button class="cancel-button position-flex-start" onclick="emptyParentInnerHTML(this, '#collection-settings-form-wrapper')">Cancel</button>
    </form>
</div>
