<div class="collections-list">
    {% for collection, contents in contents.items %}
        <div class="collection-container">
            <div class="collection-item">
                <h3>{{ collection.name }}</h3>
                {% if contents|length > 1 %}
                        <p>{{ contents|length }} items</p>
                {% elif contents|length == 0 %}
                    <p>0 items</p>
                {% else %}
                        <p>{{ contents|length }} item</p>
                {% endif %}
                <img src="/static/img/arrow.svg" class="arrow">
            </div>
            <div class="content-item">
                {% for content in contents %}
                    <div class="content-line">
                        <p>{{ content.title }}</p>
                        <img src="/static/img/arrow.svg" class="arrow">
                    </div>
                {% empty %}
                    <div class="content-line">
                        <p>No content found</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p>No collections found</p>
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const collections = document.querySelectorAll(".collection-item");

        collections.forEach((collection) => {
            collection.addEventListener("click", function() {
                this.classList.toggle("active");

                const arrow = this.querySelector('.arrow');
                if (arrow) {
                    arrow.style.transform = this.classList.contains('active') ? 'rotate(180deg)' : 'rotate(0deg)';
                }

                const content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        });
    });
</script>
