<div class="title-section">
    <h2 id="collection-title">{{ collection.name }}</h2>
</div>
<div id="collection-content">
    <div id="published-content-wrapper">
        <h3>Published Content</h3>
        {% for content in published_contents %}
            {% include "partials/content_display.html" %}
        {% empty %}
            <p>There is no published content for this collection.</p>
        {% endfor %}
    </div>
    <div id="unpublished-content-wrapper">
        <h3>Unpublished Content</h3>
        {% for content in unpublished_contents %}
            {% include "partials/content_display.html" %}
        {% empty %}
            <p>There is no unpublished content for this collection.</p>
        {% endfor %}
    </div>
</div>
