<div class="content-header" id="content-{{ content.pk }}-header"
    data-title="{{ content.title }}"
    data-description="{{ content.description }}"
    data-thumbnail="{{ content.thumbnail }}">
    {% if content.thumbnail %}
        <img src="{{ content.thumbnail }}" class="content-thumbnail">
    {% else %}
        <img src="../../../static/img/video.svg" class="content-thumbnail">
    {% endif %}
    <h3 class="content-title">{{ content.title }}</h3>
    <button
        class="title-edit-button"
        hx-get="{% url 'edit_content' content.id %}"
        hx-target="#content-{{ content.pk }}-header">Edit</button>
</div>
