<div class="content-display">
    <p class="content-title">
        {{ content.title }}
    </p>
    <div class="content-bottom">
        <div class="current-content-info">
            <div class="content-info-left">
                <a href="{% url 'player' content.id %}">
                    {% if content.thumbnail %}
                        <img src="{{ content.thumbnail }}" class="content-thumbnail">
                    {% else %}
                        <img src="../../../static/img/video.svg" class="content-thumbnail">
                    {% endif %}
                </a>
                <div class="update-content-button">
                    <img class="clickable"
                        src="../../../static/img/settings.svg"
                        title="Settings"
                        hx-trigger="click"
                        hx-get="{% url 'display_content_settings' content.id %}"
                        hx-target="next .content-settings-form-wrapper"
                    />
                </div>
            </div>
            <div class="content-actions">
                <div class="content-action-wrapper clickable">
                    <img src="../../../static/img/video-editor.svg">
                    <p>
                        Video Editor
                    </p>
                </div>
                <div class="content-action-wrapper clickable">
                    <img src="../../../static/img/subtitle-editor.svg">
                    <p>
                        Subtitle Editor
                    </p>
                </div>
                <div class="content-action-wrapper clickable">
                    <img src="../../../static/img/clip-manager.svg">
                    <p>
                        Clip Manager
                    </p>
                </div>
            </div>
        </div>
        <div class="content-settings-form-wrapper">

        </div>
    </div>
</div>
