{% load static %}

<form id="content-settings-form" method="post" action="/content/update/">
    {% csrf_token  %}

    {{ form.non_field_errors }}
    {{ form.id }}

    <div class="row-flex">
        <div class="column-flex">
            <div class="content-form-group">
                {{ form.title.as_field_group}}
            </div>
            <div class="content-form-group">
                {{ form.published.as_field_group }}
            </div>
            <div class="row-flex">
                <div class="content-form-group">
                    {{ form.allow_definitions.as_field_group }}
                </div>
                <div class="content-form-group">
                    {{ form.allow_notes.as_field_group }}
                </div>
                <div class="content-form-group">
                    {{ form.allow_captions.as_field_group }}
                </div>
            </div>
            <div class="content-form-group column-flex">
                <label for="{{ form.words.id_for_label }}">
                    Important words:
                </label>
                {{ form.words }}
            </div>
        </div>
        <div id="content-settings-description-wrapper" class="content-form-group column-flex">
            <label for="{{ form.description.id_for_label }}">
                Description:
            </label>
            {{ form.description }}
        </div>
    </div>

    <div class="row-flex flex-apart-aligned">
        <div class="row-flex">
            <button type="submit" class="blue-button">
                Submit
            </button>
            <button id="content-settings-reset-button" type="button" class="cancel-button">
                Reset
            </button>
        </div>
    </div>
</form>
<script type="module" src="{% static 'js/updateContentSettings.js' %}"></script>
