{% load static %}
<div id="assigned-courses-list">
    {% if assigned_courses|length > 0 %}
    <div class="assigned-course">
        <p>Course</p>
        <p>Sections</p>
    </div>
    {% endif %}
    {% for assigned_course in assigned_courses %}
    <div class="assigned-course course-item">
        <p>{{ assigned_course.title }}</p>
        <div>
            <p>{% if assigned_course.section_list == '' %}None assigned{% else %}{{assigned_course.section_list}}{% endif %}</p>
        </div>
    </div>
    {% empty %}
    <p>No assigned courses</p>
    {% endfor %}
</div>
<div id="assign-course-wrapper" class="column-flex">
    <h4>Add Course</h4>
    <div class="row-flex">
        <div class="new-course-assignment-detail">
            <label for="department">Department</label>
            <input id="department" type="text" maxlength="5">
        </div>
        <div class="new-course-assignment-detail">
            <label for="catalog-number">Catalog num</label>
            <input id="catalog-number" type="text" maxlength="4">
        </div>
        <div class="new-course-assignment-detail">
            <label for="sections">Sections*</label>
            <input id="sections" type="text">
        </div>
    </div>
    <p class="muted-text">* Comma separated list without leading 0's. e.g. 1, 2, 3...</p>
    <button id="assign-course-button" class="blue-button position-flex-start">+ Assign Course</button>
</div>

<script type="module" src="{% static 'js/courseAssignment.js' %}"></script>
