<form id="create-content-form"
    hx-trigger="submit"
    hx-post="{% url 'create_content' %}"
    hx-target="#collections-detail"
    hx-swap="innerHTML"
>
    <h2>Create new content</h2>
    {% csrf_token %}

    {{ form.non_field_errors }}
    <input type="hidden" value="{{collection.id}}" name="collection_id">
    <div class="column-flex">
          <div class="content-form-group">
            <label for="resource_select">Select Resource</label>
            <select id="resource_select" name="resource_id"
                    hx-get="{% url 'display_resources_files' %}"
                    hx-target="#file_select_wrapper"
                    hx-trigger="change">
                    <option value="">Choose a Resource/option>
                    {% for resource in resources %}
                        <option value="{{ resource.id }}">{{ resource.name }}</option>
                    {% endfor %}
            </select>
        </div>
        <div id="file_select_wrapper" class="content-form-group">
            <label for="id_file">Select File</label>
            <select name="file" id="id_file" disabled>
                <option value="">Choose a File</option>
            </select>
        </div>

        <div class="content-form-group">
            {{form.title.as_field_group}}
        </div>
        <div class="content-form-group">
            {{form.description.as_field_group}}
        </div>
        <div class="content-form-group">
            {{form.allow_definitions.as_field_group}}
        </div>
        <div class="content-form-group">
            {{form.allow_notes.as_field_group}}
        </div>
        <div class="content-form-group">
            {{form.allow_captions.as_field_group}}
        </div>
        <div class="row-flex">
            <input type="submit" class="small-button position-flex-start">
            <button class="cancel-button position-flex-start" onclick="emptyParentInnerHTML(this, '#create-content-wrapper');">
                Cancel
            </button>
        </div>
    </div>
</form>
