{% load static %}
    <nav class="navbar{% if request.is_spoofing %} navbar-spoofing{% endif %}">
        <div class="navbar-start">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="logo" src="{% static 'img/logo.svg' %}" alt="Logo">
                <h1>Y-VIDEO<sup>2</sup></h1>
            </a>
            {% include "core/partials/breadcrumbs.html" %}
        </div>

        <div class="navbar-center">
            {% include "core/partials/spoof_warning.html" %}
            {% include "core/partials/spoof_form.html" %}
        </div>

        <div class="navbar-actions">
            <button class="sidebar-toggle" aria-label="Toggle sidebar">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <aside class="sidebar">
            <button id="sidebar-close">X</button>
            <h2> {{ user.netid }} </h2>
            {% if user.is_admin %}
                <a href="{% url 'admin:index' %}">Admin Dashboard</a>
            {% endif %}
            {% if legacy_migration_enabled %}
                <a href="{% url 'legacy_migration_requests' %}">Legacy Migration Requests</a>
            {% endif %}

            <h2>Playlists</h2>
            <a href="{% url 'playlists' %}">Playlists</a>

            <h2>Help</h2>
            <a href="{% url 'whats_new' %}">What's new?</a>
            <a href="{% url 'about' %}">About Y-Video</a>

            <h2>Connect With Us</h2>
            <a href="https://privacy.byu.edu" target="_blank" rel="noopener noreferrer">Privacy Notice</a>
            <a href="https://infosec.byu.edu/cookie-prefs" target="_blank" rel="noopener noreferrer">Cookie Preferences</a>
        </aside>
    </nav>


    <script src="{% static 'js/spoof.js' %}"></script>
    <script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.querySelector('.sidebar-toggle');
    const sidebar = document.querySelector('.sidebar');

    toggleButton.addEventListener('click', () => {
      sidebar.classList.add('show');
    });

    const sidebarCloseButton = document.getElementById("sidebar-close");
    sidebarCloseButton.addEventListener("click", () => {
      sidebar.classList.remove('show');
    });
});
</script>
