<div class="landing-page-collection tile">
    <div class="collection-header" onclick="handleAccordian(this)">
        <div class="tile-image">
            <img src="/static/img/video.svg" class="tile-image" alt="video-collection-icon">
        </div>
        <div class="tile-body">
            <h4 class="collection-header-name">{{ collection.name }}</h4>
            <p class="tile-subtitle">{{ collection.items_display }}</p>
        </div>

    </div>
    <div class="landing-page-collection-contents accordian-folded">
        {% for content in collection.published_contents %}
            {% include "partials/landing_page_collection_content.html" %}
        {% empty %}
            <p>No Content items</p>
        {% endfor %}
    </div>
</div>
