<div id="playlist-settings" data-playlist-id="{{ playlist.pk }}">
    <div class="column-flex">
        <h3>Settings</h3>
        <form id="playlist-settings-form" class="column-flex" method="post"
              action="{% url 'update_playlist_settings' playlist.pk %}">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="playlist-form-group">
                {{ form.name.as_field_group }}
            </div>
            <div class="playlist-form-group">
                {{ form.published.as_field_group }}
            </div>
            <div class="playlist-form-group">
                {{ form.archived.as_field_group }}
            </div>
            <div class="row-flex">
                <button id="playlist-settings-submit" class="blue-button" type="submit">
                    Submit
                </button>
                <button id="playlist-settings-reset" class="cancel-button">
                    Reset
                </button>
            </div>
        </form>
    </div>
    <dialog id="playlist-delete-modal" class="user-view-modal">
        <h3 class="user-view-modal-header">
            Delete this playlist?
        </h3>
        <div class="user-view-modal-body row-flex flex-apart-aligned">
            <button id="playlist-confirm-delete" class="blue-button">
                Yes
            </button>
            <button class="cancel-button" command="close" commandfor="playlist-delete-modal">
                No
            </button>
        </div>
    </dialog>
    <dialog id="playlist-course-assignments-modal" class="user-view-modal">
        <h3 class="user-view-modal-header">
            Edit Course Assignments
        </h3>
        <div class="user-view-modal-body column-flex">
            <div class="row-flex">
                <div class="column-flex">
                    <label for="semester-select">Semester</label>
                    <select id="semester-select">
                        <option {% if semester == 5 %}selected{% endif %} value="5">Fall</option>
                        <option {% if semester == 1 %}selected{% endif %} value="1">Winter</option>
                        <option {% if semester == 3 %}selected{% endif %} value="3">Spring</option>
                        <option {% if semester == 4 %}selected{% endif %} value="4">Summer</option>
                    </select>
                </div>
                <div class="column-flex">
                    <label for="year-select">Year</label>
                    <select id="year-select">
                        {% for year_option in year_options %}
                            <option {% if year_option.current %}selected{% endif %} value="{{ year_option.value }}">{{ year_option.value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="course-assignment-container">
                {% include 'core/partials/course_assignment.html' %}
            </div>
        </div>
    </dialog>
    <div class="column-flex flex-apart">
        <button id="playlist-settings-delete" class="red-button" command="show-modal" commandfor="playlist-delete-modal">
            Delete Playlist
        </button>
        <button id="playlist-edit-course-assignment-button" class="blue-button" command="show-modal" commandfor="playlist-course-assignments-modal">
            Edit Course Assignments
        </button>
    </div>
</div>
