{% include 'base.html' %}
<div id="content-intake-form-wrapper">
    <h2>
        Content Intake Form
    </h2>
    <div id="content-intake-form-main-content">
        <form id="content-intake-form" method="post">
            {% csrf_token %}
            <div>
                <p>
                    The Office of Digital Humanities and its Humanities Learning Commons conform to all applicable copyright laws. We will NOT process copyrighted material unless:
                </p>
                <ol class="column-flex">
                    <li>YOU are the copyright holder;</li>
                    <li>You show us WRITTEN PERMISSION;</li>
                    <li>The HLC Supervisor has determined that your request is within the legally defined bounds of <a target="_blank" href="https://www.copyright.gov/help/faq/faq-fairuse.html" alt="USA fair use copyright frequently asked questions">FAIR USE</a>.</li>
                </ol>
            </div>

            <div>
                <h3>
                    Patron Information
                </h3>
                <div class="row-flex content-intake-group-set">
                    <div class="column-flex">
                        <div class="content-intake-form-group">
                            <label>Name</label>
                            {{ form.patron_name }}
                        </div>
                        <div class="content-intake-form-group">
                            <label>Net ID</label>
                            {{ form.patron_netid }}
                        </div>
                        <div class="content-intake-form-group">
                            <label>Email</label>
                            {{ form.patron_email }}
                        </div>
                        <div class="content-intake-form-group">
                            <label>Date Needed (min. 5 days required)</label>
                            {{ form.date_needed }}
                        </div>
                    </div>
                    <div class="column-flex">
                        <div class="content-intake-form-group">
                            <label>Status:</label>
                            {{ form.user_type }}
                        </div>
                        <div class="content-intake-form-group">
                            <label>Phone Number</label>
                            {{ form.patron_phone_number }}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3>Video Information</h3>
                <div class="row-flex content-intake-group-set">
                    <div class="column-flex">
                        <div class="content-intake-form-group">
                            <label>Resource Title</label>
                            {{ form.resource_title }}
                        </div>
                        <div class="content-intake-form-group">
                            <label>Y-Video Collection</label>
                            {{ form.resource_collection }}
                        </div>
                    </div>
                    <div class="column-flex">
                        <div class="content-intake-form-group">
                            <label>Audio Language</label>
                            {{ form.audio_language }}
                        </div>
                        <div class="content-intake-form-group">
                            <label>Subtitle Language (optional)</label>
                            {{ form.subtitle_language }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-intake-request-checks-wrapper">
                <h3>Check all that apply</h3>
                <div id="content-intake-request-checks">
                    <div>
                        <h4>Content Advisories:</h4>
                        <div id="content-advisory-choice-set" class="content-intake-choice-set">
                            <div class="content-intake-choice-group">
                                {{ form.violence_or_blood_and_gore }}
                                <label for="{{ form.violence_or_blood_and_gore.id_for_label }}">
                                    Violence or blood and gore
                                </label>
                            </div>

                            <div class="content-intake-choice-group">
                                {{ form.nudity_or_sexual_content }}
                                <label for="{{ form.nudity_or_sexual_content.id_for_label }}">
                                    Nudity or sexual content
                                </label>
                            </div>

                            <div class="content-intake-choice-group">
                                {{ form.profanity_or_vulgarity }}
                                <label for="{{ form.profanity_or_vulgarity.id_for_label }}">
                                    Profanity or vulgarity
                                </label>
                            </div>

                            <div class="content-intake-choice-group">
                                {{ form.self_harm_or_suicide }}
                                <label for="{{ form.self_harm_or_suicide.id_for_label }}">
                                    Self-harm or suicide
                                </label>
                            </div>

                            <div class="content-intake-choice-group">
                                {{ form.drug_use }}
                                <label for="{{ form.drug_use.id_for_label }}">
                                    Drug use
                                </label>
                            </div>

                            <div class="content-intake-choice-group">
                                {{ form.acknowledged_compliance }}
                                <label id="content-intake-policy-compliance-label" for="{{ form.acknowledged_compliance.id_for_label }}">
                                    I have read and acknowledge this resource complies with the <a target="_blank" href="https://policy.byu.edu/view/guidelines-for-selecting-and-teaching-literary-and-visual-materials-at-byu-policy">BYU Visual Teaching Materials Policy</a>.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h4>Library ownership:</h4>
                            <div class="content-intake-choice-set">
                                <div class="content-intake-choice-group">
                                    {{ form.checked_out_from_hbll }}
                                    <label for="{{ form.checked_out_from_hbll.id_for_label }}">
                                        Checked out from HBLL
                                    </label>
                                </div>

                                <div class="content-intake-choice-group">
                                    {{ form.checked_out_from_other_byu_library }}
                                    <label for="{{ form.checked_out_from_other_byu_library.id_for_label }}">
                                        Checked out from another BYU library
                                    </label>
                                </div>

                                <div class="content-intake-choice-group">
                                    {{ form.checked_out_from_non_byu_library }}
                                    <label for="{{ form.checked_out_from_non_byu_library.id_for_label }}">
                                        Checked out from a non-BYU library
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h4>Purpose of Use:</h4>
                            <div class="content-intake-choice-set">
                                <div class="content-intake-choice-group">
                                    {{ form.is_for_course_use }}
                                    <label for="{{ form.is_for_course_use.id_for_label }}">
                                        For course use
                                    </label>
                                </div>

                                <div class="content-intake-choice-group">
                                    {{ form.is_for_ic_use }}
                                    <label for="{{ form.is_for_ic_use.id_for_label }}">
                                        For International Cinema use
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="white-button-with-border" type="submit">Submit</button>
        </form>
    </div>
</div>
