<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend>Checkout Information</legend>
        {{ form.checked_out_from_hbll }}
        <label>Checked out from HBLL</label><br>

        {{ form.checked_out_from_other_library }}
        <label>Checked out from another library</label>
    </fieldset>

    <fieldset>
        <legend>Content Advisories</legend>
        {{ form.nudity }} <label>Nudity</label><br>
        {{ form.violence }} <label>Violence</label><br>
        {{ form.blood_and_gore }} <label>Blood and Gore</label><br>
        {{ form.sexual_references }} <label>Sexual References</label><br>
        {{ form.strong_language }} <label>Strong Language</label>
    </fieldset>

    <button type="submit">Submit</button>
</form>
