<div class="collection-section">
    <div class="collection-status">
        <p>Published</p>
        <img src="/static/img/arrow.svg" id="arrow" class="arrow">
    </div>
    <div class="collection-list">
        {% for collection in published %}
            <div class="collection-item">
                {{ collection.name }}
            </div>
        {% empty %}
            <div class="collection-item">
                No published collections.
            </div>
        {% endfor %}
    </div>
</div>
<div class="collection-section">
    <div class="collection-status">
        <p>Unpublished</p>
        <img src="/static/img/arrow.svg" id="arrow" class="arrow">
    </div>
    <div class="collection-list">
        {% for collection in unpublished %}
            <div class="collection-item">
                {{ collection.name }}
            </div>
        {% empty %}
            <div class="collection-item">
                No unpublished collections.
            </div>
        {% endfor %}
    </div>
</div>
<div class="collection-section">
    <div class="collection-status">
        <p>Archived</p>
        <img src="/static/img/arrow.svg" id="arrow" class="arrow">
    </div>
    <div class="collection-list">
        {% for collection in archived %}
            <div class="collection-item">
                {{ collection.name }}
            </div>
        {% empty %}
            <div class="collection-item">
                No archived collections.
            </div>
        {% endfor %}
    </div>
</div>
