{% if request.is_spoofing %}
<div id="spoof-warning">
    <span class="spoof-warning-message">
        <span class="spoof-warning-message-content">
            <span class="spoof-warning-as">{{ request.original_user.username }} as</span>
            <span class="spoof-warning-target">
                {{ request.user.first_name }} {{ request.user.last_name }}
                <span class="spoof-warning-netid">({{ request.user.netid }})</span>
            </span>
        </span>
    </span>
    <a
        class="spoof-warning-stop"
        href="{% url 'stop_spoofing' %}?next={{ request.get_full_path|urlencode }}"
    >[Stop]</a>
</div>
{% endif %}
