{% load static %}

<div id="subtitle-editor-panel"
     class="subtitle-editor-panel-hidden editor-container-component-dark editor-panel-wrapper">
    <div id="subtitle-panel-header" class="row-flex flex-apart-aligned">
        <h3 id="subtitle-panel-title">Subtitle Editor</h3>
    </div>
    <div id="subtitles-settings-wrapper" class="column-flex-no-gap">
        <div class="column-flex">
            <div class="row-flex">
                <label for="subtitles-track-create-new">Add new track</label>
                <input id="subtitles-track-create-new" type="text">
            </div>
            <div class="row-flex">
                <label for="subtitles-track-language-input">Subtitle language</label>
                <input id="subtitles-track-language-input" type="text" maxlength="60">
            </div>
            <button id="subtitle-track-create-button"
                    type="button"
                    aria-label="Create subtitle track">Ok</button>
        </div>
        <div class="row-flex">
            <div class="horizontal-line"></div>
            <p>OR</p>
            <div class="horizontal-line"></div>
        </div>
        <div id="subtitles-selector-wrapper" class="row-flex">
            <label for="subtitles-track-selector">Select a track</label>
            <select id="subtitles-track-selector">
                <option disabled selected>Select a track</option>
                {% for option in subtitle_options %}
                    <option class="subtitles-track-option" value="{{ option.id }}">{{ option.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include 'core/partials/subtitle_panel_content.html' %}

    <button id="subtitle-panel-switch"
            class="white-button-with-border editor-panel-switch">Switch to Annotation Editor</button>
</div>
