{% load static %}

<div id="subtitle-editor-panel"
     class="subtitle-editor-panel-hidden editor-container-component-dark editor-panel-wrapper">
    <div id="subtitle-panel-header" class="row-flex flex-apart-aligned">
        <h3 id="subtitle-panel-title">Subtitle Editor</h3>
    </div>
    <div id="subtitles-settings-wrapper" class="column-flex-no-gap">
        <div id="subtitles-selector-wrapper" class="column-flex">
            <label for="subtitles-track-selector">Select subtitles track to edit</label>
            <select id="subtitles-track-selector">
                <option disabled selected>Select a subtitles track to edit</option>
                {% for option in subtitle_options %}
                    <option class="subtitles-track-option" value="{{ option.id }}">{{ option.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include 'core/partials/subtitle_panel_content.html' %}

    <button id="subtitle-panel-switch"
            class="white-button-with-border editor-panel-switch">Switch to Annotation Editor</button>
</div>
