<div class="timeline-row track-row" data-track-name="{{track.name}}" data-track-id="{{ track.id }}">
    <div class="timeline-row-left timeline-row-left-dark">
        <div class="timeline-track-name">
            {{ track.name }}
        </div>
        <div class="timeline-track-edit-wrapper">
            <div class="timeline-track-menu">
                <button class="timeline-track-menu-button track-menu-rename" aria-label="Rename track {{track.name}}">
                    Rename
                </button>
                {% if track.stack_position != 0 %}
                <button class="timeline-track-menu-button track-menu-move-up" aria-label="Move track {{track.name}} up">
                    Move Up
                </button>
                {% endif %}
                {% if not track.is_final_stack_position %}
                <button class="timeline-track-menu-button track-menu-move-down" aria-label="Move track {{track.name}} down">
                    Move Down
                </button>
                {% endif %}
                {% if track.stack_position != 0 %}
                <button class="timeline-track-menu-button track-menu-delete" aria-label="Delete track {{track.name}}">
                    Delete
                </button>
                {% endif %}
            </div>
            <button class="timeline-track-open-menu-button" aria-label="Show options menu for track {{track.name}}">
                <img class="timeline-track-icon" src="/static/img/dots_menu.svg" />
            </button>
        </div>
    </div>
    <div class="timeline-row-right timeline-row-right-dark timeline-track-row-right">
        {% for item in track.items %}
            {% include "partials/item.html" %}
        {% endfor %}
    </div>
</div>
