<div class="timeline-section">
    <div class="timeline-container">
        <!-- Timeline tick marks row -->
        <div class="timeline-ticks-row">
            <div class="timeline-ticks-label">
                <!-- TODO: put zoom controls here (rename class to timeline-zoom-controls)-->
            </div>
            <div class="timeline-ticks">
                <div class="tick-marks-container"></div>
            </div>
        </div>

        {% block timeline_layers %}{% endblock %}

    </div>
</div>
