<div class="timeline-wrapper editor-container-component-dark">
    <div id="timeline-scrubber-row" class="timeline-row">
        <div class="timeline-row-left">
        </div>
        <div id="timeline-row-ticks-and-scrubbers" class="timeline-row-right">
            <div id="timeline-scrubber">
            </div>
            <div id="editor-scrubber" class="vertical-scrubber" style="--scrubber-position: 0%;"></div>
            <div id="timeline-hover-scrubber" class="vertical-scrubber"></div>
            <div id="timeline-ticks-content">
                <div class="tick-marks-container"></div>
            </div>
        </div>
    </div>
    {% for track in tracks %}
        {% include "partials/timeline-track-row.html" %}
    {% endfor %}
    <div id="timeline-new-track-and-zoom-row" class="timeline-row">
        <div id="timeline-new-track-wrapper" class="timeline-row-left timeline-row-left-dark">
            <button id="timeline-new-track-button" class="plain-text-button">
                + New Track
            </button>
        </div>
        <div id="timeline-zoom-controls" class="timeline-row-right">
            <img class="timeline-zoom-icon" src="/static/img/minus-circle.svg" />
            <div id="timeline-zoom-slider">
                <input id="timeline-zoom-input"
                    type="range"
                    min="1"
                    max="10"
                    value="1"
                    step="any"
                />
            </div>
            <img class="timeline-zoom-icon" src="/static/img/plus-circle.svg" />
        </div>
    </div>
</div>
