{% if collection %}
    <div class="title-section">
        <h2 class="collection-title">{{ collection.name }}</h2>
    </div>
    <div class="collection-content">
        {% for content in contents %}
            <div class="content-title">
                <h3 class="content-title">{{ content.title }}</h3>
                <button id="edit-button" class="title-edit-button">Edit</button>
            </div>
            <div class="content-edit-container">
                <input type="text" value="{{ content.title }}" class="name-edit-input">
                <input type="checkbox" id="published">
                <label for="published">Published</label>
                <button class="delete-button">Delete</button>
                <button class="save-button">Save</button>
            </div>
        {% empty %}
            <p>No content in this collection yet.</p>
        {% endfor %}
    </div>
{% else %}
    <div id="no-collections-body" class="no-collections">Select a Collection to get started.</div>
{% endif %}
