{% if collection %}
    <div class="title-section">
        <h2 class="collection-title">{{ collection.name }}</h2>
    </div>
    <div class="collection-content">
        {% for content in contents %}
            <div class="content-header">
                {% if content.thumbnail %}
                    <img src="{{ content.thumbnail }}" class="content-thumbnail">
                {% else %}
                    <img src="../../../static/img/video.svg" class="content-thumbnail">
                {% endif %}
                <h3 class="content-title">{{ content.title }}</h3>
                <button id="edit-button" class="title-edit-button">Edit</button>
            </div>
            <div class="content-edit-container">
                <div class="edit-title">
                    {% if content.thumbnail %}
                        <img src="{{ content.thumbnail }}" class="content-thumbnail">
                    {% else %}
                        <img src="../../../static/img/video.svg" class="content-thumbnail">
                    {% endif %}
                    <input type="text" value="{{ content.title }}" class="name-edit-input">
                </div>
                <div class="edit-options">
                    <input type="checkbox" id="captions-option">
                    <label for="captions-option">Captions</label>
                    <input type="checkbox" id="definitions-option">
                    <label for="definitions-option">Allow Automatic Definitions</label>
                    <input type="checkbox" id="notes-option">
                    <label for="notes-option">Allow Notes</label>
                </div>
                <div class="edit-save">
                    <div class="edit-checkboxes">
                        <input type="checkbox" id="published">
                        <label for="published">Published</label>
                        <button class="delete-button">Delete</button>
                        <button class="save-button">Save</button>
                    </div>
                    <div class="edit-tags">
                        <h4>Tags</h4>
                        <input type="text" placeholder="Add tags...">
                        <button class="submit-button">Add</button>
                    </div>
                    <div class="edit-description">
                        <h4>Description</h4>
                        <input type="text" value="{{ content.description }}">
                    </div>
                    <div class="edit-important-words">
                        <div class="edit-words-header">
                            <h4>Important Words</h4>
                            <button class="help-button">?</button>
                        </div>
                        <p>
                            Add a list of important words to be
                            highlighted in the transcript. The
                            highlighted words will have quick
                            translation on click if there is one
                            available.
                        </p>
                        <button class="submit-button">Open</button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No content in this collection yet.</p>
        {% endfor %}
    </div>
{% else %}
    <div id="no-collections-body" class="no-collections">Select a Collection to get started.</div>
{% endif %}
