{% for cue in cues %}
    <div class="editable-cue">
        {% if cue.type != "CUE" %}
            <p class="cue-type">{{ cue.type }}</p>
            <p class="cue-payload">{{ cue.payload}}</p>
        {% else %}
            {% if cue.identifier is not None %}
                <p class="cue-identifier">{{ cue.identifier }}</p>
            {% endif %}
            <p class="cue-timestamp">
                <span class="cue-start-time">{{ cue.display_start_time }} </span>
                -->
                <span class="cue-end-time"> {{ cue.display_end_time }}</span>
                {% if cue.cue_settings is not None %}
                    <span class="cue-settings"> {{ cue.cue_settings }}</span>
                {% endif %}
            </p>
            <p class="cue-payload">{{ cue.payload }}</p>
        {% endif %}
    </div>
{% empty %}
    <p id="no-cues-found">
        No cues were provided by the server for this subtitle track.
    </p>
{% endfor %}
