:root {
    --selectable-grey: #eeeeee;
}
#subtitle-editor-container {
    height: calc(100% - 69px);
}

#subtitle-editor {
    height: 100%;
    width: 40rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#subtitle-cues {
    flex: 1;
    overflow-y: auto;
}

.subtitle-editor-cue {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 5px 10px;
}

.subtitle-editor-cue p {
    margin: 0;
}

#editable-cues {
    overflow-y: auto;
}

.cue-display, .cue-edit {
    padding: 5px;
}

.cue-edit {
    background-color: var(--selectable-grey);
    border-radius: 10px;
    margin: 5px 0px;
}
